<h1>{{title}}</h1>
<h2>My Countries</h2>
<ul class="countries">
    <li *ngFor="let country of countries"
        [class.selected]="country === selectedCountry"
        (click)="onSelect(country)">
        <span class="badge">{{country.id}}</span> {{country.name}}
    </li>
</ul>
<div *ngIf="selectedCountry">
    <h2>{{selectedCountry.name}} details!</h2>
    <div><label>id: </label>{{selectedCountry.id}}</div>
    <div>
        <label>name: </label>
        <input [(ngModel)]="selectedCountry.name" placeholder="name"/>
    </div>
</div>